.box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f00;
}
.box1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f00;
    animation: hans .5s infinite alternate;
}

@keyframes hans{
    0%{ border-radius: 50%;}
    100%{ border-radius: 0%;}
}